/* CODE PELAJAR CSS
DIBUAT PADA TANGGAL : 1 MEI 2019
OLEH : DEV @ CODE PELAJAR
VERSI : 1.0

NOTE :
MOHON GUNAKAN SECARA BIJAK

TABEL KONTEN:
1. GLOBAL
2. HEADER
3. CONTENT
4. FOOTER
5. TAMBAHAN
*/

/* 
BASE COLOR
#ff6b6b ==> Pastel Red
#ffffff ==> White
*/


/* 1. GLOBAL
============================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  color : #ff6b6b;
  text-decoration: none;
  transition-duration: .3s;
}
a:visited {
  color : #d25a5a
}
a:hover {
  color : #d25a5a
}

/* 2. HEADER
=============================================== */
.header {
  background-color: #fff;
  border-bottom: 3px solid #ff6b6b;
}
.header-container {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 0 14px;
}
.header-row {
  margin-right: -14px;
  margin-left: -14px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.header-left {
  width: 300px;
  padding: 0 14px;
}
.header-right {
  width: calc(100% - 300px);
  padding: 0 14px;
}
.header-brand {
  position: relative;
  width: 100%;
  padding: 14px 0;
}
.header-brand-title {
  font-size: 24px;
  margin: 0;
  display: inline-block;
  line-height: 1.2;
  font-weight: bold;
}
.header-brand-title a {
  color : #ff6b6b;
}
.header-nav {
  text-align: right;
}
.header-nav > ul {
  list-style: none;
  padding : 0;
  margin : 0;
}
.header-nav > ul > li {
  display: inline-block;
  transition: .3s;
}
.header-nav > ul > li > a {
  display: inline-block;
  padding: 20px 14px;
  color : #ff6b6b;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.header-nav > ul > li:hover {
  background-color: rgba(0,0,0,0.1)
}

.page-row {
	display: flex;
	flex-wrap: wrap;
}
#add_anime {
	width: calc(100% - 300px);
}
#add_anime_play {
	width: 300px;
}
#add_anime .add-anime-item {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	padding-right: 24px;
}
#add_anime .anime-pic {
	width: 220px;
	float: left;
	padding-right: 24px;
}
#add_anime .anime-pic img {
  width: 100%;
}
#add_anime .anime-info {
	width: calc(100% - 220px);
}
#anime_list {
  width: 100%;
  position: relative;
}
.form-group.form-row {
  display: flex;
  flex-wrap: wrap;
}
.form-right {
  width: 100px;
}
.form-left {
  width: calc(100% - 100px);
  padding-right: 24px;
}

/* 3. CONTENT
=============================================== */
/* CLIEN */
.contentwrapper {

}
.contentwrapper-container {
  max-width: 1200px;
  padding: 42px 14px;
  margin: 0 auto 0 auto
}


/* ADMIN */
.panel-login {
	position: fixed;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  align-items: center;
  overflow: auto
}
.panel-login-card {
	position: relative;
	background: #fff;
	width: 100%;
	max-width: 425px;
  overflow: hidden;
  border-top: 4px solid #ff6b6b;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1)
}
.panel-login-card-header {
	padding: 24px 24px 0 24px;
}
.panel-login-card-title {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
}
.panel-login-card-body {
	padding: 24px;
}
.panel-login-card-footer {
	padding: 0 24px 24px 24px;
}

/* ADMIN DASHBOARD */
.page-card {
	position: relative;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}
.page-card-header {
	padding: 14px 24px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.page-card-title {
	margin: 0;
	font-size: 18px;
	display: inline-block;
}
.page-card-body {
	padding: 24px;
}
.page-card-footer {
	padding: 14px 24px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* SIDEBAR */
.panel-sidebar {
	position: fixed;
	width: 200px;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #ff6b6b;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
.panel-sidebar-body {
	position: relative;
}
.panel-sidebar-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.panel-sidebar-nav li {
	transition: .3s;
}
.panel-sidebar-nav li a {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	padding: 8px 14px;
	width: 100%;
}
.panel-sidebar-nav li:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.panel-sidebar-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size : 14px;
}
.panel-sidebar-nav ul li a {
  color : #ddd;
}
.panel-sidebar-nav li.has-submenu ul {
  display: none;
}
.panel-sidebar-nav li.has-submenu.active {
  background-color: rgba(0,0,0,0.2)
}
.panel-sidebar-nav li.has-submenu.active a.active ~ ul {
  display: block;
}

/* HEADER DASHBOARD */
.panel-header {
	position: fixed;
	width: calc(100% - 200px);
	top: 0;
	right: 0;
	background-color: #fff;
	padding: 14px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 53px;
  z-index: 1;
}
.panel-header-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.panel-header-brand-title {
	margin: 0;
	font-size: 18px;
	line-height: 1.4;
}
.panel-section.panel-dashboard {
  position: relative;
	margin-top: 53px;
	width: calc(100% - 200px);
  float: right;
  padding:24px;
}


/* 4. FOOTER
=============================================== */




/* TAMBAHAN
=============================================== */

/* HELPER */
.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 4px !important;
}
.m-2 {
  margin: 8px !important;
}
.m-3 {
  margin: 10px !important;
}
.m-4 {
  margin: 14px !important;
}
.font-small {
  font-size: 14px !important;
}
.font-medium {
  font-size: 16px !important;
}
.font-large {
  font-size: 18px !important;
}
.text-center {
  text-align: center;
}
.form-group {
	position: relative;
	margin-bottom: 24px;
}
.form-group label {
	display: block;
	margin-bottom: 8px;
}
.form-control {
	width: 100%;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	line-height: 1.6;
  padding: 8px 14px;
  outline-color: #ff6b6b;
}
.invalid-feedback {
  display: none;
}
.form-control.invalid {
  border-color : red;
}
.form-control.invalid ~ .invalid-feedback {
  display: block;
  color:red;
  font-size:14px;
}

.btn {
	display: inline-block;
	background-color: transparent;
	border: 2px solid transparent;
	cursor: pointer;
	padding: 8px 14px;
	line-height: 1.6;
	border-radius: 4px;
  transition: .3s;
  font-size: 16px;
  vertical-align: middle;
}
.btn.btn-primary {
  outline-color: #ff6b6b;
	background-color: #ff6b6b;
	border-color: #ff6b6b;
	color: #fff;
	font-weight: bold;
}
.btn.btn-primary:hover {
	background-color: #d25757;
	border-color: #d25757;
}

.btn.btn-block {
  display: block !important;
  width: 100%;
}

.alert {
  position: relative;
  padding: 14px;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
  margin-bottom: 14px;
}
.alert.alert-success {
  background-color: #caffe0;
}
.alert.alert-danger {
  background-color: #ffd3d3;
}
.alert.alert-info {
  background-color: #cee8ff;
}
.alert.alert-warning {
  background-color: #ffebd2;
}

.form-control.form-control-sm {
	padding: 4px 14px;
}
#add_anime .form-group {
	margin-bottom: 8px;
}
#add_anime .form-group label {
	margin-bottom: 4px;
	font-size: 14px;
}
.btn.btn-sm {
  padding: 2px 14px;
  font-size: 14px;
}

#add_anime .form-group.form-bagi {
  width: 50%;
}

#add_anime .form-group.form-bagi:nth-child(odd) {
  padding-right: 14px;
}
button:disabled {
  opacity: .65;
  cursor: not-allowed;
  user-select: none;
}
.table-wrapper {

}
.table-wrapper.responsive {

}
.table {
	width: 100%;
	border-spacing: 0;
	border: .5px solid rgba(0, 0, 0, 0.1);
}
.table th,
.table td {
	padding: 8px 14px;
}
.table th,
.table td {
	border-bottom: .5px solid rgba(0, 0, 0, 0.1);
	border-top: .5px solid rgba(0, 0, 0, 0.1);
}
.table th.caption,
.table td.caption {
	border-right: .5px solid rgba(0, 0, 0, 0.1);
}
.table tbody tr:hover {
  background-color: #f5f5f5;
  font-weight: bold;
}